<div class="container header">
  <form class="contact__form">
    <p class="contact__form--header">Contact us</p>
    <mat-form-field appearance="legacy" class="contact__form--input">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Placeholder">
    </mat-form-field>
        <mat-form-field appearance="legacy" class="contact__form--input">
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="Placeholder">   
    </mat-form-field>
    <mat-form-field appearance="legacy" class="contact__form--input">
      <mat-label>Tittle</mat-label>
      <input matInput placeholder="Placeholder">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill" class="contact__form--content">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder=""></textarea>
    </mat-form-field>
  
      <button class="contact__form--button">Send</button> 
  </form>
  <div class="about">
    <div class="about__contact">
      <div>
        <p>Phone Number:</p>
        <p>E-mail:</p>
        <p>Adress:</p>
      </div>
      <div>
        <p>123 456 789</p>
        <p>cafeteria@shop.pl</p>
        <p>Czarnowiejska 38, 30-054 Kraków</p>
      </div>
    </div>
    <div class="about__contact">
      <div>
        <p>Author:</p>
        <p>Github:</p>
        <p>Linkedin:</p>
      </div>
      <div>
        <p>Abramczyk Szczepan</p>
        <p>https://github.com/UnluckyKredens</p>
        <p>https://www.linkedin.com/in/szczepan-abramczyk-67174b208/</p>
      </div>
    </div>
  </div>
</div>
