<div class="container header">
  <div class="content">
    <div class="content__holder">
      <img src="/assets/images/coffee_img.png" class="content__holder--img">
    </div>
    <div class="content__holder">
      <p class="content__holder--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id tempor massa.
        Sed
        eleifend enim eu lectus
        tincidunt, sed posuere tortor ultrices. Mauris sit amet orci et ligula porta malesuada. Aliquam id diam nulla.
        Etiam diam nulla, hendrerit sed ligula in, interdum varius magna. Donec lacus nulla, dapibus efficitur eleifend
        id, congue ultrices orci. Phasellus ultricies porta nunc sit amet scelerisque. Praesent malesuada mi vitae ex
        feugiat convallis. Integer elementum posuere lacinia. Curabitur imperdiet urna vel nibh vestibulum semper. Etiam
        convallis felis ut suscipit consequat. Phasellus gravida maximus ullamcorper. Nullam cursus leo in ornare
        ultricies.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id tempor massa. Sed eleifend enim eu
        lectus tincidunt, sed posuere tortor ultrices. Mauris sit amet orci et ligula porta malesuada. Aliquam id diam
        nulla. Etiam diam nulla, hendrerit sed ligula in, interdum varius magna. </p>
    </div>
  </div>

  <div class="content">
    <div class="content__holder">
      <img src="/assets/images/coffee_img.png" class="content__holder--img">
    </div>
    <div class="content__holder">
      <p class="content__holder--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id tempor massa.
        Sed
        eleifend enim eu lectus
        tincidunt, sed posuere tortor ultrices. Mauris sit amet orci et ligula porta malesuada. Aliquam id diam nulla.
        Etiam diam nulla, hendrerit sed ligula in, interdum varius magna. Donec lacus nulla, dapibus efficitur eleifend
        id, congue ultrices orci. Phasellus ultricies porta nunc sit amet scelerisque. Praesent malesuada mi vitae ex
        feugiat convallis. Integer elementum posuere lacinia. Curabitur imperdiet urna vel nibh vestibulum semper. Etiam
        convallis felis ut suscipit consequat. Phasellus gravida maximus ullamcorper. Nullam cursus leo in ornare
        ultricies.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id tempor massa. Sed eleifend enim eu
        lectus tincidunt, sed posuere tortor ultrices. Mauris sit amet orci et ligula porta malesuada. Aliquam id diam
        nulla. Etiam diam nulla, hendrerit sed ligula in, interdum varius magna. </p>
    </div>
  </div>
</div>
