<div class="container">
  <div class="header">
    <img src="/assets/images/logo.png" class="header__icon">
    <p class="header__tittle">Old Coffee</p>
  </div>
  <div class="navi">
    <p class="navi__item" [routerLink]="['/dashboard']" routerLinkActive="navi__item--active">Dashboard</p>
    <p class="navi__item" [routerLink]="['/products']" routerLinkActive="navi__item--active">Products</p>
    <p class="navi__item" [routerLink]="['/shop']" routerLinkActive="navi__item--active">Shop</p>
    <p class="navi__item" [routerLink]="['/contact']" routerLinkActive="navi__item--active">Contact</p>
    <img src="/assets/images/cart.png" class="navi__cart">

  </div>
</div>
