<div class="container header">
  <img src="/assets/images/coffee_paint.png" class="coffee">
  <p class="text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum velit ac viverra feugiat.
    Donec sit amet tempor sapien, et condimentum velit. Sed finibus dapibus sapien, vel vehicula turpis posuere ut.
    Mauris vulputate tristique orci ac semper.
    Vivamus vitae elementum diam, at ultrices lectus. Aliquam ac sagittis leo. Integer convallis dapibus neque, ut
    convallis felis tincidunt non.
    Donec vulputate ante lorem, eget commodo nisi finibus non. Integer finibus lectus lectus. Morbi non mauris vel ipsum
    eleifend eleifend. In molestie lacinia ex eget dictum.
  </p>
</div>
